@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  --font-color: #eee;
  --background-colour: rgba(105, 70, 107, 0.9);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-colour);
  color: var(--font-color);
  background-size: cover;
}

.background {
  background-color: var(--background-colour);
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}

header,
footer,
main {
  padding: 30px 25% 30px 25%;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.github-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: white;
}

.fa-github {
  font-size: 1.5rem;
  transition: transform 0.2s ease-in-out;
  color: rgba(0, 0, 0, 0.705);
}

.fa-github:hover {
  transform: rotate(-2deg) scale(1.1);
}

/* Header */

header {
  background-color: rgb(96, 65, 99);
  padding: 20px 20% 20px 20%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 1px 5px -2px rgb(0, 0, 0);
}

.navbar {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  justify-content: right;
  align-items: center;
  gap: 2rem;
  list-style: none;
  font-size: 1.3rem;
  cursor: pointer;
}

.nav-link {
  transition: 0.1s ease-in-out;
}

.active {
  padding-bottom: 3px;
  box-shadow: 0 3px 2px -2px rgb(160, 160, 160);
}

.nav-link:hover {
  padding-bottom: 3px;
  transition: 0.1s ease-in-out;
  box-shadow: 0 3px 2px -2px rgb(196, 196, 196);
}

/* Main */

.logo > img {
  height: 5rem;
}

main {
  width: 100%;
  height: 100%;
}

main > div {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

main > div > h1 {
  align-self: center;
  margin-bottom: 0.5rem;
}

h1,
h2 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

/* Home */

.hero > h1 {
  margin-top: 5rem;
  font-size: 5rem;
}
.hero > p {
  width: 70%;
  align-self: center;
}

.hero > button {
  width: max-content;
  align-self: center;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: rgb(230, 65, 44, 0);
  color: #eee;
  font-weight: bold;
  border-radius: 10px;
  transition: 0.3s ease;
  background-color: #db4532;
  border: 0;
  box-shadow: 0px 2px 6px -5px black;
}

.hero > button:hover {
  transition: 0.1s ease;
  border: 0;
  box-shadow: 0px 3px 8px -5px black;
  transform: scale(1.03);
  cursor: pointer;
}
.hero > button:active {
  transition: 0.1s ease;
  transform: scale(0.98);
}

/* About */

.about {
  display: flex;
  gap: 1rem;
}

.about-image {
  flex: 2;
  max-height: 50%;
  justify-content: center;
  display: flex;
}

.about-image img {
  width: 95%;
  object-fit: cover;
  overflow: hidden;
  display: block;
}

/* Contact */

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  gap: 1rem;
}

.contact > h1 {
  grid-column: span 2;
  justify-self: center;
}

.contact > div {
  justify-self: center;
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.iframe-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  resize: vertical;
}
